<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">


    console.log("JS LOADED");

    //Show Password
    document.querySelector(".showPassword").addEventListener("click", () => {
        document.getElementById("floatingPassword").setAttribute("type", "text");
    })

 
//Creating a post
    document.querySelector(".createPostBtn").addEventListener("click", () => {
        document.querySelector(".postBox").classList.remove("d-none");
        document.querySelector(".postBtn").classList.remove("d-none");
        document.querySelector(".cancelBtn").classList.remove("d-none");

        document.querySelector(".createPostBtn").classList.add("d-none");
        document.querySelector(".logOutBtn").classList.add("d-none");
    });

    //Cancelling a create post request
    document.querySelector(".cancelBtn").addEventListener("click", () => {
        document.querySelector(".postBox").classList.add("d-none");
        document.querySelector(".postBtn").classList.add("d-none");
        document.querySelector(".cancelBtn").classList.add("d-none");
        
        document.querySelector(".createPostBtn").classList.remove("d-none");
        document.querySelector(".logOutBtn").classList.remove("d-none");
    });
    

    //Edit Posts
    document.querySelectorAll(".edit").forEach((post) => {
            post.addEventListener("click", () => {
                
                var postID = event.target.value;
                document.getElementsByClassName(postID)[0].classList.add("d-none");
                document.getElementById(postID).classList.remove("d-none");

                //Cancel edit 
                document.querySelectorAll(".cancelEdit").forEach((cancelEditBtn) => {
                    cancelEditBtn.addEventListener("click", () => {
                        document.getElementsByClassName(postID)[0].classList.remove("d-none");
                        document.getElementById(postID).classList.add("d-none");

                    })

            });


            })



        });



    //Delete Posts
    document.querySelectorAll(".delete").forEach((post) => {
            post.addEventListener("click", () => {

                var postID = event.target.value;
                document.getElementsByClassName(postID)[0].classList.add("deleteAnimation");

            });

        });
    

    
    




    
</script>

</body>

</html>
