@keyframes postAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}


@keyframes deletePostAnimation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);

  }
}

@keyframes myGradient {
  0% {
    background-color: #3D33DE;
  }

  100% {
    background-color: blueviolet;
  }
  
}


.flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}





.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3D33DE;
  animation: myGradient 5s linear 1s infinite alternate;

}

h1 {
  color: black;
}


.popupwindow {
  display: flex;
  justify-content: space-around;
  background-color:darkgray;
  border-radius: 5px;
  border: 2px solid red;
  color: black;

}

.popupclose:hover {
  cursor: pointer;
  transform: scale(1.5);
} 

.hidden {
  display: none;
}



.editAreaBtn {
  margin-left: 5rem;
  /* margin-left: 5rem; */
  
}

.editBox {
  width: 100%;
  resize: none;
}

.editBox:focus {
  background-color: #e9e9e9;
  border: 2px solid #555;
  outline: none; /* Removes the default browser outline */
}


.post {
  animation: postAppear 2s ease;
  max-height: 13rem;
  background-color: #6FE69A;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  padding: 1rem;
  overflow: auto;
  
}

.deleteAnimation {
  animation: deletePostAnimation 2s ease;
  animation-fill-mode: forwards;
}


.post:hover {
  transform: scale(1.05); 
    background-color: #22E6AC; 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 

}

.editArea {
  display: flex;
  flex-direction: column;
}


.heroBtns {
  display: flex;
  min-width: max-content;

}


.editBtn:hover, .deleteBtn:hover {
  transform: scale(1, 1.2);
  background-color: brown;

} 


.postBoxTestBtns > * {
  margin-left: 1rem;
  margin-right: 1rem;

}


.postBox {
  resize: none;
  height: 10rem;
  width: 80%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;

}

.postBox:focus {
  background-color: #e9e9e9;
  border: 2px solid #555;
  outline: none; /* Removes the default browser outline */
}


.editBox {
  animation: postAppear 2s ease;
  min-height: 11rem;

}


.grid-container {
  display: grid;
  /* background-color: #3360DE; */
  background-color: #3D33DE;
  animation: myGradient 5s linear 1s infinite alternate;
  width: 98%;
  margin: 1rem;
  grid-template-columns: 2fr 2fr 2fr;
  border: 2px solid red;
  gap: 20px;

}

.loginmsg {
  color: black;
  /* border: 2px solid red; */

}

body {
  background-color: #3D33DE;
  animation: myGradient 5s linear 1s infinite alternate;

}

.showPassword {
  position: absolute;
  border-radius: 10px;
  margin: 0;
  margin-left: 18.5rem;
  bottom: 1.3rem;
  width: 1rem;
  height: 1rem;
}


@media (min-width: 500px) {
  .postBox {
    width: 50rem;

  }

}

@media (max-width: 500px) {

  .grid-container {
    grid-template-columns: 2fr 2fr;
    margin-left: 0.3rem;
    padding: 1rem;

  }

  .editAreaBtn {
    margin: 0;
    width: 100%;

  }

  .postBox {
    width: 22rem;

  }

  .createPostBtn, .logOutBtn {
    margin: 0.5rem;
  }

<<<<<<< Updated upstream
}
=======
<<<<<<< HEAD
}
=======
}
>>>>>>> 10b6485 (Added a show password btn)
>>>>>>> Stashed changes
